
# python
__pycache__/
*.pyc 
.ipynb_checkpoints/
.venv/
.env

# Conda
*.conda
*.conda-lock

# data related.
# data/raw
# data/processed
reports/runs
reports/lead_reports

# OS
.DS_Store

# General Logs. (refer to obsidian notes for detailed breakdowns.)
notes.txt
explanation_tutorial_notes.txt
gitcomms.txt
technical.md
stage1_schematic.md
hERGBench_Project_Abstract.tex

# Can choose to include data_splits later (it is reproducibility-critical) for now data arw and processed are ignored.

# generated archives
*.tar.gz
